RewriteEngine on
RewriteRule ^\.htaccess$ -[F]
RewriteCond %{SERVER_PORT} !^443$ 
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

ErrorDocument 404 ./404-fehlerseite.php
ErrorDocument 500 ./404-fehlerseite.php